{% include "base.html.twig" %}
{% block title %}liste des clients{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="path-to/node_modules/mdi/css/materialdesignicons.min.css"/>{% endblock %}
{% block body %}
</br></br></br></br>
<div class="container-fluid">
<div style="background-color: #f4f4f4;">
<div class="container-fluid">
<div class="card card-cascade wider reverse" style ="background-color:white !important; margin-top:5%;">
<div style="background-color:#4285f4; margin-top:-2%; width:30%; color:white; height:20%; text-align:center;"><div style="padding:2%;">gestion des client</div>
</div>
    <div class="card-body card-body-cascade text-center" >

<table class="table table-hover">

<thead>
<tr>

<td><strong>Nom</strong></td>
<td><strong>Prenom</strong></td>
<td><strong>Telephone</strong></td>
<td><strong>Adresse</strong></td>
<td><strong>Email</strong></td>
<td><strong>Date_naissance</strong></td>

</tr>
</thead>
<tbody>
{% set count = 0 %}
{% for client in clients %}
<tr>
<td>{{ client.name }} </td>
<td>{{ client.Telephone }} </td>
<td>{{ client.adress }} </td>
<td>{{ client.dateBirth }} </td>
<td>{{ client.email }} </td>
<td>{{ client.password }} </td>

 
<td>
 <a href="{{path('deleteC', {'id':client.id})}}" class="btn btn-danger"  onClick="return confirm('Vous vouller vraiment supprimer ce client');"><i class="mdi mdi-delete"></i></a>
</td>
{% set count = count + 1 %}

</tr> {% endfor %}

</tbody>

 </table></div></div></div></div></div>

{% endblock %}